<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737809182436-c0qha0g8moakqb8pn65q596n6ia06q21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737809182436-c0qha0g8moakqb8pn65q596n6ia06q21</string>
	<key>API_KEY</key>
	<string>AIzaSyCpXgsjuS9Qka3bP4C2yJluKous-BJ7cSY</string>
	<key>GCM_SENDER_ID</key>
	<string>737809182436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ciei.esdn-app</string>
	<key>PROJECT_ID</key>
	<string>esdn-site</string>
	<key>STORAGE_BUCKET</key>
	<string>esdn-site.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737809182436:ios:32284493fd309edb3a86f1</string>
</dict>
</plist>